<h1>Display your Pirate here</h1>
<h3>Name: <%= @pirate.name %></h3>
<h3>Weight: <%= @pirate.weight %> pounds</h3>
<h3>Height: <%= @pirate.height %> inches</h3>

<h2>Display your ship here</h2>
<h2><% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
<% end %></h2>